

body {
    font-family: Tahoma, Verdana, sans-serif;
    background: lightgray;
    margin: 0;
}

td {
    border: 2px solid black;
}

th {
    border-left: 2px solid blue;
    border-right: 2px solid blue;
    border-bottom: 3px solid blue;
    background: lightblue;
}

h1 {
    font-size: 28px;
    text-align: center;
}

h2 {
    font-size: 22px;
    text-align: left;
}

.figures {
    text-align: center;
    font-size: 20px;
}

.container {
    width: 1000px;
    padding: 20px;
    margin: 0 auto;
    background: lightgray
}

.content {
    background: darkgray;
}

#main-image {
    position: relative;
    max-width: 600px;
    max-height: 337.14821763602px;m
}

#songlist {
    float: left;
    width: 200px
}

#discography {
    float: right;
    margin: 20px 50px;
}



footer {
    clear: both;
    text-align: center;
    padding: 20px;
    margin: 20px 50px;
    background: darkgray;
}